<!DOCTYPE html>
<!--{# {%block title%}でタブとウィンドウの名前を設定可能 #}-->
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <h1>Flaskr</h1>
  <ul>
    <!--{#{% %} で制御フロー(ifなど)が可能になる #}-->
    {% if session["id"] %}
    <!--ログインしている場合、名前とログアウトURLを表示-->
    <li><span>{{ session['username'] }}</span></li>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
    <!--ログインしていない場合、登録画面とログイン画面を表示-->
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  <!--以下のコードでviewでのエラーメッセージをまとめて表示-->
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  <!--{# {% block content %}{% endblock %}の間にフォームやブログ投稿などの各ページのコンテンツを配置する #}-->
  {% endfor %} {% block content %}{% endblock %}
</section>
